@import '../common.scss';

.mypage_favorite {
  width: $width;
  height: 5em;

  .mypage_favorite_title {
    margin-right: auto;
    margin-left: 0.75em;
    font-weight: bolder;
  }

  .mypage_favorite_content {
    @include flex();
    justify-content: flex-start;
    white-space: nowrap; // 요소들이 한 줄로 유지되도록 함.
    @include scrollbar();

    .mypage_favorite_contentlist {
      border: 1px solid lightgrey;
      border-radius: 10px;
      background-color: white;
      width: fit-content;
      height: 2em;
      margin-left: 0.75em;
      margin-bottom: 0.75em;
      @include flex();
    }
  }
}

.margin {
  margin-top: 0.75em;
}
