@import '../common.scss';

.mypage_Container {
  width: $width;
  max-width: $max-width;
  @include scrollbar();

  .mypage_components {
    @include flex();
    height: 3em;

    .mypage_components_info {
      width: calc(100% / 3);
      border-bottom: 1px solid $lightgray;
      font-weight: bold;
      height: 2em;
      color: $lightgray;
      // margin-right: 0.5em;
      text-align: center;

      &.changedComponent {
        border-bottom: 3px solid black;
        color: black;
      }
      > img {
        width: 2em;
        height: 2em;
      }
    }
  }
  .mypage_underbar {
    border-bottom: 1px solid lightgrey;
  }
}
