@import '../common.scss';
.signup_Container {
  width: $width;
  max-width: $max-width;
  position: relative;

  @include scrollbar();

  .title {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    height: 25vh;
    @include flex();
  }

  .content {
    .signup_Content_Container {
      margin: 2em 1em;

      .signup_title {
        font-weight: bold;
      }

      .signup_input {
        margin-top: 0.25em;
        width: calc(100% - 7.75px);
        height: 40px;
        font-size: larger;
      }
    }
  }
  .signup_info {
    align-items: center;
    margin: 4em 1em;
    @include flex();
    justify-content: space-evenly;
  }
  .signup_Btn {
    @include big_btn();
    width: calc(100% - 2em);
    height: 2.5em;
    display: block;
    margin: 3em auto;
  }
}

.errorMsg {
  color: red;
}
