@import '../common.scss';
@import './TopSizeNum.module.scss';

.container {
  @extend .container;

  .dimension {
    @extend .dimension;

    .input_Div {
      @extend .input_Div;
      margin-left: auto;
      width: 40%;

      .input {
        height: 3vh;
        width: calc(100% - 0.5em);
      }
    }

    .unit {
      @extend .unit;
    }
  }
}
